/* handle media queries by using the min width */
@mixin flat-media($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

/* sets text color based on a given background color */
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

/* sets a good contrast background/foreground combination */
@mixin flat-border($color) {
  border: 1px solid $color !important;
}

/* sets a good contrast background/foreground combination */
@mixin flat-color($color) {
  background-color: $color !important;
  color: set-text-color($color) !important;
}

/* sets a neumorphic background gradient */
@mixin flat-gradient($color) {
  background: linear-gradient(to right, lighten($color, 5%), darken($color, 2.5%)) !important;
}

/* sets a neumorphic shadow */
@mixin flat-shadow($color) {
  border-radius: 16px !important;;
  box-shadow: -4px -4px 4px lighten($color, 10%), 4px 4px 4px darken($color, 20%) !important;
}

/* sets a neumorphic inset shadow */
@mixin flat-shadow-inset($color) {
  border-radius: 16px !important;;
  box-shadow: inset -4px -4px 4px lighten($color, 10%), inset 4px 4px 4px darken($color, 20%) !important;;
}
