@import "flat-mixins";
@import "flat-reset";

/* required class for page navigation */
.active {
  display: grid !important;
}

/* defaults */
body {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* custom components basic styling */
flat-app {
  height: 100%;
}

flat-nav {
  cursor: pointer;
  display: flex;
}

flat-page {
  display: none;
  height: 100%;
}

/* app specific styling ... */
flat-page {
  font-family: "Fira Sans Book", serif;
  font-size: 10pt;
  grid-template-areas: "header nav" "aside main";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 3rem 1fr;

  aside {
    grid-area: aside;

    flat-nav {
      font-size: .8rem;
      line-height: 3rem;
      padding: 0 1rem;
    }
  }

  header {
    align-items: center;
    cursor: default;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    grid-area: header;
    padding: 1rem;

    .brand {
      height: 24px;
      margin-right: .5rem;
      width: 24px;
    }
  }

  main {
    display: flex;
    flex-flow: column;
    font-size: .8rem;
    line-height: 1rem;
    grid-area: main;
    padding: 1rem;

    form {
      display: grid;
      grid-row-gap: .25rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
      padding: .5rem;

      input, label, select {
        line-height: 2rem;
        height: 2rem;
        padding: .25rem;
      }

      .row {
        display: flex;
        margin-top: 1rem;

        button, flat-nav {
          border-radius: .25rem;
          max-width: 200px;
          margin-right: 1.5rem;
          padding: .5rem 1rem;
        }
      }
    }

    h1 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    span {
      line-height: 1.25rem;
    }
  }

  nav {
    font-size: .8rem;
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    line-height: 3rem;

    a, flat-nav {
      align-items: center;
      display: flex;
      margin: 0 .5rem;
      padding: 0 .5rem;

      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}
