@import "flat-mixins";
@import "theme-light-colors";

flat-page {
  @include flat-color($color-1);

  aside {
    @include flat-gradient(darken($color-1, 5%));

    flat-nav {
      @include flat-gradient($color-1);
      @include flat-shadow($color-1);
      margin: 16px;

      &:hover {
        @include flat-shadow-inset($color-1);
      }
    }
  }

  header {
    @include flat-gradient(lighten($color-1, 2.5%));
  }

  main {
    @include flat-gradient($color-1);

    form {
      @include flat-gradient($color-1);
      @include flat-shadow($color-1);
      margin-top: 1rem;
      padding: 1rem;

      a, button, flat-nav {
        @include flat-gradient($color-1);
        @include flat-shadow($color-1);

        &:hover {
          @include flat-shadow-inset($color-1);
        }
      }

      input, select {
        @include flat-gradient($color-1);
        @include flat-shadow-inset($color-1);
        padding-left: 1rem;
      }
    }
  }

  nav {
    @include flat-gradient(lighten($color-1, 2.5%));

    a, button, flat-nav {
      @include flat-gradient($color-1);
      @include flat-shadow($color-1);
      margin-right: .5rem;
      margin-top: .5rem;

      &:hover {
        @include flat-shadow-inset($color-1);
      }
    }
  }
}
